/* Variables */
:root {
    --main-color: #10cab7;
    --secondery-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --spece-lines: 1.8;
    --paragraph-color: #777;
}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.parent {
    background-color: #eee;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Components */
.special-heading {
    font-size: 100px;
    text-align: center;
    color: #ebeced;
    font-weight: 800;
    margin: 0;
    letter-spacing: -4px;
}

.special-heading + p {
    text-align: center;
    margin-top: -30px;
    color: #797979;
    font-size: 20px;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading + p {
        margin-top: -20px;
    }
}

/* End Components */

/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .container ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 200px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links:hover ul {
    display: block;
}

.header .links li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .container ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End Header */
/* Start Landing */
.landing-img {
    background-image: url(../images/Landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing-img .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing-img .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.landing-img .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End Landing */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: var(--spece-lines);
    color: var(--paragraph-color);
}

/* End Features */

/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.service-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.service-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .service-content .srv {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.srv i {
    flex-basis: 60px;
    color: var(--main-color);
}
.srv .text {
    flex: 1;
    padding-left: 15px;
}
.srv .text h3 {
    margin:0 0 20px;
}
.srv .text p {
    line-height: var(--spece-lines);
    color: var(--paragraph-color);
    font-weight: 300;
}
.service-content .image {
    text-align: center;
    position: relative;
}
.service-content .image img {
    width: 260px;
}
.service-content .image::before {
    content: "";
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--secondery-color);
    position: absolute;
    right: 0;
    top: -50px;
    z-index: -1;
}
@media (max-width:1199px) {
    .service-content .image {
        display: none;
    }
}
/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.portfolio-content .card {
    background-color: #fff;
}
.portfolio-content img {
    max-width: 100%;
}
.portfolio-content .info {
    padding: 20px;
}
.portfolio-content .info h3 {
    margin: 0;
}
.portfolio-content .info p {
    line-height: var(--spece-lines);
    color: var(--paragraph-color);
    margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
.about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: var(--section-background);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -160px;
    z-index: -1;
}
@media (max-width:991px) {
    .about-content .image::before,
    .about-content .image::after {
        display: none;
    }
    .about-content .image {
       margin: 0 auto 60px;
    }
}
.about-content .image img {
    max-width: 100%;
}
.about-content .text {
    flex-basis: calc(100% - 500px);
}
.about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about-content .text hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}
.about-content .text p:last-of-type {
    line-height: 2;
    color: var(--paragraph-color);
}
/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .contact-content {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact-content .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondery-color);
    letter-spacing: -2;
    margin-bottom: 15px;
}
.contact-content .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
@media (max-width:767px) {
    .contact-content .label,
    .contact-content .link {
        font-size: 25px;
    }
}
.contact-content .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contact-content .social i {
    margin-left: 10px;
    color: var(--secondery-color);
}
/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--secondery-color);
    color: #fff;
    text-align: center;
    padding: 30px 10px;
    font-size: 18px;
}
.footer span {
    color: var(--main-color);
}
/* End Footer */